/* Tabs
----------------------------------*/
.ui-tabs {border: none;font-family: Arial; font-size: 9pt;background: #fbfbfb;}

.ui-tabs .ui-tabs-nav { list-style: none; position: relative; padding: 0% 0% 0% 0%; background: url("../img/solapas/solapa_fondo.png") repeat-x; border:none; height: 30px; text-align: center; font-family: Arial; font-size: 9pt; white-space: nowrap;}
.ui-tabs .ui-tabs-nav li { margin:0%; padding:0% 0% 0% 0%; position:relative; height:20px; width: 100px;float:left; list-style-type:none; line-height:21px; margin:0px; background:none; border:none; text-align: center; font-family: Arial; font-size: 9pt;}
.ui-tabs .ui-tabs-nav li a { padding: 0px; text-align: center; font-family: Arial; font-size: 9pt; }
.ui-tabs .ui-tabs-nav li a hover{ color:#014783;}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin:0 0 0px 0; padding:0% 0% 0% 0%; position:relative; height:20px; width: 100px; background:url("../img/solapas/solapa.gif") no-repeat right bottom; color:white; font-weight:bold; text-align: center; font-family: Arial; font-size: 9pt; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text;}
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer;} /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */

.ui-tabs .ui-tabs-panel {padding: 0%; display: block; border-width: 0; background: none;  }
.ui-tabs .ui-tabs-hide { display: none !important; text-align: center; font-family: Arial; font-size: 9pt;}



/* SUBTabs
----------------------------------*/
.ui-tabs .ui-subtabs-nav { list-style: none; position: relative; padding: 0% 0% 0% 0%; background: url("../img/solapas/solapa_subtab_fondo.png") repeat-x; border:none; height: 30px; text-align: center; font-family: Arial; font-size: 9pt; white-space: nowrap;}
.ui-tabs .ui-subtabs-nav li { margin:0%; padding:0% 0% 0% 0%; position:relative; height:20px; width: 100px;float:left; list-style-type:none; line-height:21px; margin:0px; background:none; border:none; text-align: center; font-family: Arial; font-size: 9pt;}
.ui-tabs .ui-subtabs-nav li a { padding: 0px; text-align: center; font-family: Arial; font-size: 9pt; }
.ui-tabs .ui-subtabs-nav li a hover{ color:#014783;}
.ui-tabs .ui-subtabs-nav li.ui-tabs-selected { margin:0 0 0px 0; padding:0% 0% 0% 0%; position:relative; height:20px; width: 100px; background:url("../img/solapas/solapa_subtab_fondo.png") repeat-x right bottom; color:white; text-align: center; font-family: Arial; font-size: 9pt; }
.ui-tabs .ui-subtabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text;}
.ui-tabs .ui-subtabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
